# Assignment 1-2: Data Collection Using Web APIs

## Objective

Many Websites (such as Twitter, Yelp, Spotify) provide free APIs to allow users to access their data. *API wrappers* simplify the use of these APIs by wrapping API calls into easy-to-use Python functions. At SFU, we are developing a unified API wrapper, called [DataPrep.Connector](https://docs.dataprep.ai/user_guide/connector/introduction.html#userguide-connector), which offers a unified programming interface to collect data from a variety of Web APIs.

In this assignment, you will learn the following:

* How to ask insightful questions about data
* How to collect data from Web APIs using DataPrep.Connector

**Requirements:**

1. Please use [pandas.DataFrame](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html) rather than spark.DataFrame to manipulate data.

2. Please follow the python code style (https://www.python.org/dev/peps/pep-0008/). If TA finds your code hard to read, you will lose points. This requirement will stay for the whole semester.

## Preliminary

DataPrep.Connector is very easy to learn. By watching this 10-min [PyData Global 2020 talk](https://www.youtube.com/watch?v=56qu-0Ka-dA), you should be able to know how to use it. 

If you want to know more, below are some other useful resources.

* [Quick Introduction](https://github.com/sfu-db/dataprep#connector)
* [User Guide](https://sfu-db.github.io/dataprep/user_guide/connector/connector.html) 
* [Examples](https://github.com/sfu-db/dataprep/tree/develop/examples)
* [Fetch and analyze COVID-19 tweets using DataPrep](https://www.youtube.com/watch?v=vvypQB3Vp1o)

## Overview

This is a **group** assignment. 
Please check your group in this [PDF file](https://coursys.sfu.ca/2022sp-cmpt-733-g1/pages/Web-API-Assignment/view).

To do this assignment, your group needs to go through four steps:

1. Select a new Web API that is not listed on https://github.com/sfu-db/APIConnectors. 
2. Create a configuration file for the API (see tutorials at [link1](https://github.com/sfu-db/APIConnectors/blob/develop/CONTRIBUTING.md#add-configuration-files) and [link2](https://github.com/sfu-db/EZHacks-tutorial/blob/master/2.%20Tutorial.ipynb)). 
3. Come up with four questions about the API. 
4. Write code to answer these questions one by one.

For Step 3, please make sure your questions are **good**.

## What are "good questions"?

Please use the following to judge whether your questions are good or not.

1. Good questions need to be useful. That is, they are either common questions asked about the API or are exploring novel use cases.
2. Good questions need to be diverse. That is, they cover different aspects of the API. 
3. Good questions have to cover different difficulty levels. That is, it consists of both easy and difficult questions,  where the difficulty can be measured by the number of lines of code or the number of input parameters.

The following shows four good questions about the Yelp API. The corresponding code can be found at this [link](https://github.com/sfu-db/DataConnectorConfigs#yelp----collect-local-business-data).

* Q1. What's the phone number of Capilano Suspension Bridge Park?
* Q2. Which yoga store has the highest review count in Vancouver?
* Q3. How many Starbucks stores are in Seattle and where are they?
* Q4. What are the ratings for a list of restaurants?

**Why are they useful?**
* Q1 is useful because "Capilano Suspension Bridge Park" is one of the most popular tourist attractions in Vancouver.
* Q2 is useful because a yoga fan wants to find out the most popular yoga store in Vancouver. 
* Q3 is useful because Starbucks was founded in Seattle.
* Q4 is useful because people often rely on yelp ratings to decide which restaurant to go to.

**Why are they diverse?**

This is because the [code](yelp-code.png) written to answer them has different inputs or outputs.
* Q1 takes `term` and `location` as input and returns 1 record with attributes `name` and `phone` 
* Q2 takes `categories`, `location`, and `sort_by` as input and returns 1 record with attributes `name` and `review_count`
* Q3 takes `term` and `location` as input and returns n records with attributes `name`, `address`, `city`, `state`, `country`, `zipcode`
* Q4 takes a list of retarurant `names` as input and return n records with attributes `name`, `rating`, `city`

**Why are they more and more difficult?**
* Q1 (4 lines of code, 2 query parameters)
* Q2 (4 lines of code, 3 query parameters)
* Q3 (5 lines of code, 2 query parameters)
* Q4 (11 lines of code, 2 query parameters)

Please note that you have to use DataPrep.Connector to get data from the Web API. If DataPrep.Connector cannot meet your needs, please post your questions on Teams (Channel: Assignment 1). We will help you.

## Now, it's your turn. :)

Please write down your questions and the corresponding code for your assigned API.

In [ ]:
## Provide your API key here for TAs to reproduce your results
key = 'hRQfv3I/doEO5wg6w2qs3nuokMLupaZZmH3lkfImc0xWhHLQFoP7B1IBujf81qrg'

In [ ]:
# !pip install dataprep

### Q1 Return the stadium with the highest capacity.

In [20]:
## Write your code DONE

#table-stadium
#input-N/A
from dataprep.connector import connect
from pandas.io.json import json_normalize
Key = "hRQfv3I/doEO5wg6w2qs3nuokMLupaZZmH3lkfImc0xWhHLQFoP7B1IBujf81qrg"

dc = connect('/content/config/', _auth={'access_token':Key})

df = await dc.query('stadium')
df[df['capacity'] == df['capacity'].max()]

,id,name,capacity,city,state,country_code,year_constructed
114,4617,Bristol Motor Speedway,162000,Briston,TN,US,1961.0

### Q2 Tranfers for a given month (December) and for a given team (Michigan State) in 2022

In [22]:
## Write your code

# table-players/portal
# input-year(default)

from dataprep.connector import connect

conn_collegefootball =  connect('/content/config/', _auth={'access_token':Key})

df = await conn_collegefootball.query('portal', year=2022)
df['transferMonth'] =  [x[5:7] for x in df['transferDate']]
df_new = df.query('transferMonth == "12"')
df_new = df_new.query('destination == "Michigan State"')
df_new

,season,firstName,lastName,position,origin,destination,transferDate,ratings,stars,eligibility,transferMonth
826,2022,Aaron,Brule,LB,Mississippi State,Michigan State,2021-12-02T21:04:00.000Z,None,3.0,Immediate,12
2270,2022,Khris,Bogle,EDGE,Florida,Michigan State,2021-12-01T21:26:00.000Z,None,4.0,Immediate,12

### Q3 The win margin of college football games for a given year (2022) and for a given week (1st week), where home division is fbs (Football bowl subdivision) of regular season type

In [23]:
## Write your code

#table-games
#input-year(default), week, season_type, division

from dataprep.connector import connect

football_games =  connect('/content/config', _auth={'access_token':Key})

df = await football_games.query('games', year=2022, week=1, seasonType="regular", division="fbs")

df['margin_points']=(df['home_points']-df['away_points']).abs()
df[['venue','home_team','away_team','margin_points']].sort_values('margin_points',ascending=False)

,venue,home_team,away_team,margin_points
66,McLane Stadium,Baylor,Albany,59
22,Protective Stadium,UAB,Alabama A&M,59
54,Hard Rock Stadium,Miami,Bethune-Cookman,57
80,Bryant Denny Stadium,Alabama,Utah State,55
77,Centennial Bank Stadium,Arkansas State,Grambling,55
...,...,...,...,...
43,Kidd Brewer Stadium,Appalachian State,North Carolina,2
12,FIU Stadium,Florida International,Bryant,1
38,Alumni Stadium,Boston College,Rutgers,1
92,Mercedes-Benz Superdome,Florida State,LSU,1
42,Dowdy-Ficklen Stadium,East Carolina,NC State,1

### Q4 School with the same mascots. Example- "wildcats", "Bulldogs"

In [24]:
## Write your code

#table-teams
#input-N/A
from dataprep.connector import connect
from pandas.io.json import json_normalize
Key = "hRQfv3I/doEO5wg6w2qs3nuokMLupaZZmH3lkfImc0xWhHLQFoP7B1IBujf81qrg"

dc = connect('/content/config/', _auth={'access_token':Key})

df = await dc.query('teams')
df[df["mascot"]=="Wildcats"]
# df[df["mascot"]=="Bulldogs"]

         id              school    mascot
0      2000   Abilene Christian  Wildcats
28       12             Arizona  Wildcats
52      488    Baker University  Wildcats
71     2064         Bethel (TN)  Wildcats
72     2065     Bethune-Cookman  Wildcats
128    2120  Central Washington  Wildcats
179     510     Culver-Stockton  Wildcats
187    2166            Davidson  Wildcats
249    2232   Fort Valley State  Wildcats
330  111756    Indiana Wesleyan  Wildcats
350    2306        Kansas State  Wildcats
355      96            Kentucky  Wildcats
388     203            Linfield  Wildcats
396    2347   Louisiana College  Wildcats
501     160       New Hampshire  Wildcats
524     128   Northern Michigan  Wildcats
530      77        Northwestern  Wildcats
766     222           Villanova  Wildcats
788    2844    Wayne State (NE)  Wildcats
790    2692         Weber State  Wildcats

## Submission

Complete this notebook, rename it to `A1-2-[WEB API Name].ipynb`, and submit it along with your config files to the CourSys activity `Assignment 1 - Part 2`. For example, if your group works on Yelp, then **every member of your group** needs to submit the same notebook named `A1-2-Yelp.ipynb` and the config files named `config.zip`.